body {
    margin: 0;
    background-color: aliceblue;
}

#heading {
    background-color: aqua;
    text-align: center;
    padding: 20px;
}

#title {
    font-family: "Copperplate", fantasy;
}

a + a {
    margin-left: 20px;
}

#container {
    margin: 5%;
}

.couple {
    border: 3px solid black;
    margin-bottom: 10px;
    background-color: cornsilk;
}

.couple-contents {
    margin-left: 10px;
}

.couple-form {
    margin-bottom: 10px;
}